.sharedAxisX {
  position: relative;
}

.sharedAxisX-item-enter {
  opacity: 0;
}

.sharedAxisX-item-enter-back {
  transform: translateX(-30px);
}

.sharedAxisX-item-enter-forward {
  transform: translateX(30px);
}

.sharedAxisX-item-enter-active {
  opacity: 1;
  transition: opacity 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    transform 300ms cubic-bezier(0.6, 0, 0.2, 1);

  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.sharedAxisX-item-exit {
  opacity: 1;
  transform: translateX(0);
}

.sharedAxisX-item-exit-active {
  opacity: 0;
  transition: opacity 90ms cubic-bezier(0.6, 0, 1, 1),
    transform 300ms cubic-bezier(0.6, 0, 0.2, 1);

  position: absolute;
  top: 0;
  left: 0;
}

.sharedAxisX-item-exit-active-forward {
  transform: translateX(-30px);
}

.sharedAxisX-item-exit-active-back {
  transform: translateX(30px);
}
