.sharedAxis-container {
  position: relative;
}

.sharedAxis-item-enter {
  opacity: 0;
}

.sharedAxis-item-enter-x-back {
  transform: translateX(-30px);
}

.sharedAxis-item-enter-x-forward {
  transform: translateX(30px);
}

.sharedAxis-item-enter-y-back {
  transform: translateY(-30px);
}

.sharedAxis-item-enter-y-forward {
  transform: translateY(30px);
}

.sharedAxis-item-enter-z-back {
  transform: scale(1.1);
}

.sharedAxis-item-enter-z-forward {
  transform: scale(0.8);
}

.sharedAxis-item-enter-active {
  opacity: 1;
  transition: opacity 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0) scale(1);
}

.sharedAxis-item-exit {
  opacity: 1;
  transform: translate(0) scale(1);
}

.sharedAxis-item-exit-active {
  opacity: 0;
  transition: opacity 90ms cubic-bezier(0.4, 0, 1, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 0;
  left: 0;
}

.sharedAxis-item-exit-active-x-forward {
  transform: translateX(-30px);
}

.sharedAxis-item-exit-active-x-back {
  transform: translateX(30px);
}

.sharedAxis-item-exit-active-y-forward {
  transform: translateY(-30px);
}

.sharedAxis-item-exit-active-y-back {
  transform: translateY(30px);
}

.sharedAxis-item-exit-active-z-forward {
  transform: scale(1.1);
}

.sharedAxis-item-exit-active-z-back {
  transform: scale(0.8);
}
